@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
}
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-thumb {

}
*::-webkit-scrollbar-track {
    background: transparent;
}
    
*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #a375ff;
  border-right: none;
  border-left: none;
}
*::-webkit-scrollbar-track-piece {
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px; 
}
