.search-box-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 3rem;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s;
    border: 2px solid transparent;
    margin: auto
}
.search-box-container:hover {
    border: 2px solid #bbbbbb;
    transition: all .3s;
}
.search-box-container:focus-within {
    border: 2px solid #A375FF;
    background: #fff;
    transition: all .3s;
}
.search-icon-cnt{
    width: 10%;
    height: 100%;
    background: #D8D7FE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-search{
    width: 80%;
    height: 100%;
    outline: none;
    padding: 1rem;
    background: transparent;
}
.results-box-container {
    margin: 2rem auto 0 auto;
    height: 60%;
    width: 80%;
    // background: rgb(236, 236, 236);
    border-radius: 20px;
    border: 1px solid #c6c6c6;
    padding: 1rem;
    overflow-y: auto;
}
.patient-card {
    height: 12rem;
    width: 35rem;
    background-color: #f7f7f7;
    margin-bottom: 2rem;
    border: 1px solid #bbbbbb;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.content-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.default-search-info-cnt {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.search-big-icon {
    width: 10rem;
    height: auto;
}
.profile-photo-cnt{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}
.patient-info-cnt {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.patient-info-row {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #c6c6c6;
}
.patient-info-row-1 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #c6c6c6;
    display: flex;
    flex-direction: row;
}
.patient-info-row-col-1 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #bbbbbb;
}
.patient-info-row-col-2 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.actions-container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .8rem;
    align-items: center;
    justify-content: center;
}
.margin-y {
    margin: 3px 0px 3px 0px;
}