.kid{
    height: 34em;
    width: auto;
    display: flex;
    margin-left: 2em;
}
.kid2{
    height: 34em;
    display: flex;
    margin-left: 2em;
    float: right;
}
.subt{
    text-align: justify;
    width: 60em;
    font-size: 14pt;
    margin-right: 4em;
    float: right;
}
.tittle1{
    text-align: center;
    font-size: 30pt;
    margin-top: 2em;
    margin-left: 3.2em;
}
.tittle2{
    text-align: center;
    font-size: 30pt;
    margin-top: 2em;
    margin-left: -11.5em;
    margin-bottom: 1em;
}
.cont-child{
    background-image: url(../img/banners/Info-1-textures-06.png);
    background-repeat: no-repeat;
    background-size: 40em;
    background-position: right;
    display: flex;
    width: 20em;
    height: 41em;
    width: 100%;
    float: right;
}
.sub2{
    text-align: justify;
    width: 60em;
    font-size: 14pt;
    margin-left: 8em;
    float: left;
}
