.acc-hero {
    background-image: url(../img/banners/otorrinop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 39.93rem;
    width: 100%;
    padding: 1.25rem;
    position: relative;

    .acc-hero-cont {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            color:white;
            font-size: 1.5rem;
        }

        h1 {
            color:white;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}
.cont-esp{
    display: flex;
    width: 65%;
}
.cont-espi{
    display: flex;
    height: auto;
    width: 100%;;
}
.cont-espk{
    display: flex;
    
 
}

.tittle{
    text-align: center;
    font-size: 30pt;
    margin-top: 2em;
    margin-bottom: 1em;
}
.first{
    width: 30em;
            height: auto;
            display: flex;
            margin-left: 2em;
            display: block;
}
.sub{
    text-align: justify;
    margin-right: 3.5em;
    font-size: 14pt;
}
span{
    color: #D58C8C;
}
.acc-hero2 {
    background-image: url(../img/banners/gastro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 39.93rem;
    width: 100%;
    padding: 1.25rem;
    position: relative;
    .acc-hero-cont {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            color:white;
            font-size: 1.5rem;
        }

        h1 {
            color:white;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}
.acc-hero3 {
    background-image: url(../img/banners/neu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 39.93rem;
    width: 100%;
    padding: 1.25rem;
    position: relative;
    .acc-hero-cont {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            color:white;
            font-size: 1.5rem;
        }

        h1 {
            color:white;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}
.acc-hero4 {
    background-image: url(../img/banners/docs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 39.93rem;
    width: 100%;
    padding: 1.25rem;
    position: relative;
    .acc-hero-cont {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            color:white;
            font-size: 1.5rem;
        }

        h1 {
            color:white;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}