.__docBannerContainer{
    width: 100%;
    height: 50rem;
    background-image: url(../img/banners/clinic-bg.jpg);
    background-position: 0 0;
    background-size: cover;
}
.__docBannerContent{
    height: 100%;
    width: 100%;
    background-color: #00000077;
    top: 0;
}
.__layered-content{
    border: 1px solid #BBBBBB;
}
.__boxBlue{
    box-shadow: 20px 25px 5px 4px #C0DEFF;
}
.__boxYellow{
    box-shadow: 20px 25px 5px 4px #FFDEB4;
}
.__boxGreen{
    box-shadow: 20px 25px 5px 4px #C4DFAA;
}
.__medical-list{
    list-style: disc;
    margin-left: 5rem;
    margin-top: 1.5rem;
    max-width: 30rem;
    line-height: 1.5;

    li{
        color: #FFFFFF;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

}
.__DownloadAddImg{
    background-image: url(../img/mockups/Phone-mockup-1.png);
    background-size: cover;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}
.__moreView{
    text-decoration: none;
    color: #ffffff;
    padding: .6rem .8rem .6rem .8rem;
    background-color: #D58C8C;
    border-radius: 40px;
    transition: .2s ease-in-out;
}
.__moreView:hover{
    transform: translateY(2px);
    transition: .2s ease-in-out;
}