.fondi{
    background-image: url(../img/bg/footer-waves-08.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    position: absolute;
    bottom: 0;
}
.bgBtnt3 {
    background-color: #A375FF;
    box-shadow: 5px 4px 0px 2px #B2A4FF;
    font-size: 20pt;
    float: right;
    margin-top: 3em;
    margin-left: -2em;
    margin-right: 5em;
}


// error404
.tittle3 {
    font-size: 70pt;
    text-align: center;
}
.cont-erro{
    display: flex;
}
.infot {
    font-size: 20pt;
    display: flex;
    margin-left: 2em;
    margin-right: -1em;                                             
}
.cont-kidf{
    display: flex;

}
.kidt {
    width: auto;
    height: 25em;
    margin-left: 1em;
}
.cont-err{
    display: flex;
    width: 100%;
}
.btnx{
    margin-top: 4em;
}